@CHARSET "UTF-8";


body {

    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}





#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
    /*
    下記ヘッダーの固定
    */
    display: flex;
    position: sticky;
    top: 0;
}


#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
    min-height: calc(100vh - 70px);
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    /*
    border-bottom: solid black;
    border-top: solid black;
    */
    /*
    border-left: solid black;

    border-right: solid black;
    */



}

th {
    /*
    width: 26%;
    */
    padding: 10px 2%;
    text-align: center;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#employee_list th {
    /*
    width: 30%;
    */
    padding: 10px 10%;
}

table#employee_list td{
    width: 29%;
    padding: 10px 2%;
}

tr.row1{
    background-color: #f2f2f2;
}

tr.row0{
    background-color: #ffffff;
}

select {
    height: 30px;
}




#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#employee_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}






table#report_list .report_name{
    width: 20%;
    padding: 10px 2%;
}

table#report_list .report_date{
    width: 20%;
}

table#report_list .report_title{
    width: 37%;
}

table#report_list .report_action{
    width: 13%;
}




pre{
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica,Arial,sans-serif;
}

h3 {
    font-size: larger;
}

/*
table#client_list th{
    font-weight: bold;
    padding: 10px 2%;
}

table#client_list .client_name{
    width: 30%;
}

table#client_list .client_information{
    width: 30%;
}

table#client_list .client_action{
    width: 15%;
}
*/

.list {
    border-top: solid black;
    border-right: solid black;
    border-left: solid black;
    text-align: center;

}

.Scroll-padding{
    padding-right: 16.5px;
    background-color: silver;
}



/* スクロールバーの調整 */

.listScroll{
    width: 100%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    border-top: solid black;
    border-bottom: solid black;


}

.column{
    position: sticky;
    top: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #C0C0C0; /* カラムのカラーを灰色に*/
}


/*

td {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}
th {
    border-bottom: solid black;
    border-left: solid black;
    border-right: solid black;
    border-top: solid black;
    border-width: 2px;
    text-align: center;
}

*/
